<article>
  <a href="/dashboard"> -----dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form >
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
     <textarea name="post-text" type="text" cols="25" rows="10">{{post.post_text}}</textarea>
    </div>
    <button type="submit">Save Post</button>
    <button type="button">Delete Post</button>
  </form>
</article>

<form>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>